body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Afacad Flux", sans-serif; */
  /* font-family: "Edu AU VIC WA NT Guides", cursive; */
  font-family: "Kaushan Script", cursive;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
